
.App {
  width: 100vw;
  height: 100vh;
  overflow: none;
}

.header-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #cc0000;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 5px solid #023474;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-left: 10px;
  text-align: center;
  color: #ffffff;
  font-size: larger;
  font-weight: 400;
}

.dropdown-line {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
}

.body {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 50px;
}

.flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.horizontal-limit {
  width: 90%;
  max-width: 500px;
  margin: 0 20px;
}

.body-scroll {
  height: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.body-scroll::-webkit-scrollbar {
  display: none;
}

.footer{
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: #023474;
}

.footer-content{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.footer-content button{
  width: 50%;
}

.footer-content div {
  font-size: 16px;
}

.dropdown {
  width: 100%;
  height: 31px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
}

.match-header {
  margin-top: 20px;
  padding: 0 20px;
}

.next-matches-container {
  padding: 0 20px;
}

.next-matches-title {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.next-match {
  margin-top: 15px;
}

.match-info-short {
  font-style: italic;
  font-size: smaller;
  color: gray;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.invisible-button{
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  color: inherit;
}

.MatchBanner {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.BannerHome {
  padding: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 50%;
  text-align: left;
}

.BannerAway {
  padding: 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 50%;
  text-align: right;
}

.BannerVS {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.BannerVS div {
  padding: 4px;
  border: 1px solid black;
  border-radius: 100%;
  background-color: lightgray;
  color: black;
  text-align: center;
}

.match-info {
  margin: 0px 20px;
  padding: 10px 20px;
  border: 1px solid black;
  border-top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 5px;
}

.instructions {
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: smaller;
  color: #9d834a;
  font-weight: bold;
}

.status {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right {
  justify-content: end;
}

.status-circle {
  margin-left: 5px;
  height: 15px;
  width: 15px;
  border: 1px solid black;
  border-radius: 100%;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.button {
  height: 31px;
  min-width: 80px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 5px;
}

.ticket-top-right {
  position: absolute;
  top: 5px;
  right: 5px;
}

.ticket-bottom-right {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.no-tickets {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 20px;
  padding: 5px;
  text-align: center;
  font-style: italic;
  font-size: smaller;
}

.ticket {
  border: 1px solid black;
  border-radius: 5px;
  margin: 15px 40px 0px 40px;
  padding: 10px 15px;
  text-align: center;
  font-size: smaller;
  position: relative;
  height: 79px;
}

.created-tag {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-style: italic;
  font-size: smaller;
  gap: 10px;
}

.reservation-info{
  height: 100%;
  text-align: left;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 19px);
  margin: auto 0;
  margin-right: 80px;
}

/* @media (min-width: 700px) {
  .body {
    max-width: 500px;
  }
} */

.step3warning{
  display: none;
  color: red;
}

#step3confirmation {
  display: none;
  color: green;
}