.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
}

.body {
  max-width: 1000px;
  /* padding: 100px auto; */
  margin: 20px;
}

.Header{
  background-color: #cc0000;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-bottom: 5px solid #023474;
}

.header{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#title {
  margin-left: 10px;
  text-align: center;
  color: #ffffff;
}

.MatchHeaderContainer{
  margin-top: 10px;
}

.MHInfo {
  font-style: italic;
  font-size: smaller;
  color: #9d834a;
  margin-bottom: 3px;
}

.MHBanner {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.MHHome {
  padding: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 50%;
}
.MHAway {
  padding: 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 50%;
  text-align: right;
}

.MHVS {
  position: absolute;
  top: 0;
  /* left: 45%; */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.MHVS div {
  padding: 4px;
  border: 1px solid black;
  border-radius: 100%;
  background-color: lightgray;
  color: black;
  text-align: center;
}



/* Arsenal Colors: #cc0000 "secondary": "#ffffff",*/